.sidenav-container {
    height: 100vh;
  }
  
  mat-sidenav {
    width: 250px;
    background: #263238; /* Cor da sidebar */
    color: rgb(133, 62, 62);
  }
  
  mat-sidenav mat-nav-list a {
    color: white;
    text-decoration: none;
  }
  
  .content {
    padding: 20px;
  }
  