# Python
*.pyc
__pycache__/
*.pyo

# Installer/Utility scripts
setup.py
updater.py
uninstaller.py

# Node.js
node_modules/
npm-debug.log*

# Ambiente virtual
env/
venv/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# ignore front end notes
note.txt
notes_dev.txt

