# Por favor, use `setup.py install` para instalar todas as dependências corretamente.
fastapi
uvicorn
psycopg2
numpy
pandas
pandas_ta
datetime
time
warnings
MetaTrader5
scipy
tqdm
itertools
joblib
yfinance
# TA-Lib: Instalar via setup.py devido às dependências nativas
