{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stock Data{% endblock %}</title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">

    <!-- Global Styles -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div id="particles-js" aria-hidden="true"></div>
    
    <!-- Header -->
    <header class="main-header">
        <img class="logo-icon-homepage" alt="Company Logo" src="{% static 'images/logo.png' %}">

        <!-- Authentication NAV -->
        <nav class="auth-nav">
            {% if user.is_authenticated %}
                <span class="hello">Olá, {{ user.username }}</span>
                <a href="{% url 'dashboard' %}" class="btn-link">Área do utilizador</a>

                <!-- Logout -->
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-link">Sair</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn-link">Entrar</a>
                <a href="{% url 'signup' %}" class="btn-link">Criar conta</a>
            {% endif %}
        </nav>
    </header>

    <!-- Django Message -->
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- Body Content -->
    <main class="main-home">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <nav>
            <a href="/" class="link">Back to Home Page</a>
        </nav>
        <p>&copy; 2025 Stock Data. All Rights Reserved.</p>
    </footer>

    <!-- Global Scripts -->
    <script type="module" src="{% static 'js/script.js' %}"></script>
    <!-- Particles.js -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{% static 'js/background.js' %}"></script> 
    {% block extra_js %}{% endblock %}
</body>
</html>
