{% extends "base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
  <section class="button-zone">
    {% if user.is_authenticated %}
      <button id="stockbytopButton">Stock by Top</button>
    {% else %}
      <a href="{% url 'login' %}" class="button-like">Entrar para aceder ao Stock by Top</a>
    {% endif %}
  </section>

  <section class="search-container">
    <div class="search-container">
      <input type="text" id="stockSymbol" placeholder="Enter stock symbol (e.g., AAPL)">
      <button id="searchButton">Search</button>
      <p class="search-indication">Enter a stock symbol and press "Search" to fetch data.</p>
    </div>
  </section>
{% endblock %}

{% block extra_js %}

{% endblock %}
