{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" />


</head>
<body>
  	
  	<div class="home-stocks">
    		<div class="header">
      			<div class="headermenu">
        				<div class="reach-us">Reach Us</div>
      			</div>
      			<div class="menu-items">
        				<div class="stocks">
          					<div class="stocks1">Trending Now</div>
        				</div>
        				<div class="stocks">
          					<div class="stocks1">Most Actives</div>
        				</div>
        				<div class="stocks">
          					<div class="stocks1">Top Gainers</div>
        				</div>
      			</div>
      			<div class="menu-items1">
        				<div class="stocks">
          					<div class="stocks1">Stocks</div>
        				</div>
        				<div class="stocks">
          					<div class="stocks1">Currencies</div>
        				</div>
        				<div class="stocks">
          					<div class="stocks1">ETFs</div>
        				</div>
        				<div class="stocks">
          					<div class="stocks1">Cryptos</div>
        				</div>
      			</div>
    		</div>
    		<div class="logo-wrapper">
      			<img class="logo-icon" alt="Logo" src="{% static 'images/logo.png' %}">
      			
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>
 