{% extends "base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
  <!-- Header -->
  <header class="main-header">
      <img class="logo-icon-homepage" alt="Company Logo" src="{% static 'images/logo.png' %}">

      <!-- Authentication NAV -->
      <nav class="auth-nav">
          {% if user.is_authenticated %}
              <span class="hello">Olá, {{ user.username }}</span>
              <a href="{% url 'dashboard' %}" class="btn-link">User profile</a>

              <!-- Logout -->
              <form method="post" action="{% url 'logout' %}" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn-link">Sair</button>
              </form>
          {% else %}
              <a href="{% url 'login' %}" class="btn-link">Log in</a>
              <a href="{% url 'signup' %}" class="btn-link">Sign in</a>
          {% endif %}
      </nav>
  </header>
  <section class="button-zone">
    {% if user.is_authenticated %}
      <button id="stockbytopButton">Stock by Top</button>
      <button id="setupEcoCalendarButton">Economic Calendar</button>
    {% else %}
      <a href="{% url 'login' %}" class="button-like">Log in to access all features</a>
    {% endif %}
  </section>

  <section class="search-container">
    <div class="search-container">
      <input type="text" id="stockSymbol" placeholder="Enter stock symbol (e.g., AAPL)">
      <button id="searchButton">Search</button>
      <p class="search-indication">Enter a stock symbol and press "Search" to fetch data.</p>
    </div>
  </section>
{% endblock %}

{% block extra_js %}

{% endblock %}
