{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Data</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="main-stock">
        <div class="header-stock">
            <img class="logo-icon-stock" alt="Logo" src="{% static 'images/logo.png' %}">
            <div class="search-container">
                <input type="text" id="stockSymbol" placeholder="Enter stock symbol (e.g., AAPL)">
                <button id="searchButton">Search</button>
                <p class="search-indication">Enter a stock symbol and press "Search" to fetch data.</p>
            </div>
            <div class="menu-market-types">
                <div class="market-types">Screener</div>
            <div class="headermenu">
                <div class="reach-us">Reach Us</div>
            </div>
        </div>
    </div>
    <hr class="line1">

    <div class="stock-info">
        <!-- Input para buscar novas ações -->

        <div id="yahooGainersContainer">
            <h2>Top 100 Gainers</h2>
            <table id="yahooGainersTable">
                <thead>
                    <tr id="yahooGainersHeader"></tr>  <!-- Aqui os cabeçalhos serão adicionados via JS -->
                </thead>
                <tbody id="yahooGainersBody"></tbody>  <!-- Aqui os dados serão inseridos -->
            </table>
        </div>
    </div>
    
    <a href="/">Back to home page</a>

    <!-- 🔥 Importando o script externo -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
