{% extends "base.html" %}
{% load static %}

{% block title %}Stock Data{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/stock.css' %}">
    <link rel="stylesheet" href="{% static 'css/charts.css' %}">
    <link rel="stylesheet" href="{% static 'css/mermaid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooltips.css' %}">
{% endblock %}

{% block content %}
  <header class="main-header">
        <div class="header">
            <a href="/">
                <img class="header-logo-icon" alt="Logo" src="{% static 'images/logo.png' %}">
            </a>    
            <div class="search-container">
                <input type="text" id="stockSymbol" placeholder="Enter stock symbol (e.g., AAPL)">
                <button id="searchButton">Search</button>
                <p class="search-indication">Enter a stock symbol and press "Search" to fetch data.</p>
            </div>
            <nav class="headermenu">
                <div class="reach-us">Reach Us</div>
            </nav>
        </div>
    </header>

    <hr class="line1">

    <main class="stock-info">

        <section id="Information">
            <div class="bio-card">
                <div class="bio-header" id="bioToggle">
                    <h2 id="LongName"></h2>
                    <span class="toggle-icon">+</span>
                </div>
            
                <div class="bio-content hidden">
                    
                    <!-- Bio Sector -->
                    <div class="bio-sector">
                        <p><strong>Sector:</strong> <span id="Sector"></span></p>
                        <p><strong>Industry:</strong> <span id="Industry"></span></p>
                        <p><strong>Employees:</strong> <span id="Employees"></span></p>
                    </div>

                    <!-- Bio Descrip -->
                    <div class="bio-description">
                        <p class="bio-description" id="BusinessName"></p>
                    </div>                    

                    <!-- Informações Gerais em Grid -->
                    <div class="bio-grid">
                        <p><strong>Country:</strong> <span id="Country"></span></p>
                        <p><strong>City:</strong> <span id="City"></span></p>
                        <!-- <p><strong>State:</strong> <span id="State"></span></p> -->
                        <!-- <p><strong>Zip Code:</strong> <span id="ZipCode"></span></p> -->
                    </div>
            
                    <!-- Links de Referência -->
                    <div class="bio-links">
                        <p><strong>Website:</strong> <a href="#" id="Website" target="_blank"></a></p>
                        <p><strong>Report Website:</strong> <a href="#" id="ReportWebsite" target="_blank"></a></p>
                    </div>
            
                    <!-- Informações Financeiras -->
                    <div class="bio-financial">
                        <p><strong>Symbol:</strong> <span id="Symbol"></span></p>
                        <p><strong>Currency:</strong> <span id="FinancialCurrency"></span></p>
                        <p><strong>Current Price:</strong> <span id="CurrentPrice"></span></p>
                        <p><strong>Beta:</strong> <span id="Beta"></span></p>
                        <p><strong>Share Turnover:</strong> <span id="ShareTurnover"></span></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Histórico de Preços -->
        <section id="priceHistory">
            <h2>Historic Price</h2>
            <div class="candlestick-chart-container">+
                <div id="candlestickChart">
                    <div class="customLegend">
                        <div class="individualLegend">
                            <button id="toggleEmaBtn">
                                <img src="{% static 'images/close-eye-white.png' %}" alt="toggle EMAs" id="toggleEmaIcon" />
                            </button>
                            <div id="customLegendEmas"></div>
                        </div>
                        <div class="individualLegend">
                            <button id="toggleBollingerBtn">
                                <img src="{% static 'images/close-eye-white.png' %}" alt="toggle Bollinger" id="toggleBollingerIcon"/>
                            </button>
                            <div id="customLegendBollinger"></div>
                        </div>
                        <div class="individualLegend">
                            <button id="toggleHarmonicBtn">
                                <img src="/static/images/close-eye-white.png" alt="toggle Harmonic" id="toggleHarmonicIcon"  />
                            </button>
                            <div id="customLegendHarmonic"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rsi-chart-container">
                <div id="rsiChart">
                    <div class="customLegend">
                        <div class="individualLegend">
                            <button id="toggleRsiBtn">
                                <img src="/static/images/close-eye-white.png" alt="toggle Rsi" id="toggleRsiIcon"/>
                            </button>
                            <div id="customLegendRsi"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Análise Técnica -->
        <section id="technicalStockZone">
            <h2>Technical Analysis</h2>
            
            <!-- Trend -->
            <div class="technical-card">
                <div class="technical-header" id="tecTrend">
                    <h2>Trend</h2>
                    <span class="toggle-icon">+</span>
                </div>
            
                <div class="trend-content hidden">

                    <div class="tec-trend-crossover">
                        <h3>Exponential Average Crossover (Direction)</h3>
                        <button class=executeButtons id="crossoverButton">Calculate</button>
                        <form id="crossoverForm">
                            <label for="fastPeriod">Short EMA:</label>
                            <input type="number" id="fastPeriod" value="14" min="1">
                            <label for="mediumPeriod">Medium EMA:</label>
                            <input type="number" id="mediumPeriod" value="25" min="1">
                            <label for="slowPeriod">Long EMA:</label>
                            <input type="number" id="slowPeriod" value="200" min="1">
                        </form>
                        <div>
                            <p>Signal: <span id="CrossSignal"></span></p>
                        </div>
                    </div>

                    <div class="tec-trend-adx">
                        <h3>ADX (Strengh)</h3>
                        <button class=executeButtons id="AdxButton">Calculate</button>
                        <form id="AdxForm">
                            <label for="adxLength">Periods:</label>
                            <input type="number" id="adxLength" value="14" min="1">
                        </form>
                        <div>
                            <p>Signal: <span id="AdxSignal"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Volatility -->        
            <div class="technical-card">
                <div class="technical-header" id="tecVolatility">
                    <h2>Volatility</h2>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="volatility-content hidden">
                    <div class="tec-volatility">
                        <h3>Bollinger Bands</h3>
                        <button class=executeButtons id="BollingerButton">Calculate</button>
                        <form id="BollingerForm">
                            <label for="bollingerLength">Periods:</label>
                            <input type="number" id="bollingerLength" value="14" min="1">
                            <label for="std_bol">Standard Deviation:</label>
                            <input type="number" id="std_bol" value="2" min="1">
                        </form>
                        <div>
                            <p>Signal: <span id="BollSignal"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Oscilators -->
            <div class="technical-card">
                <div class="technical-header" id="tecOscilators">
                    <h2>Oscilators</h2>
                    <span class="toggle-icon">+</span>
                </div>

                <div class="oscilators-content hidden">

                    <div class="tec-oscilators">
                        <h3>Relative Strength Index</h3>
                        <button class=executeButtons id="RSIButton">Calculate</button>
                        <form id="RSIForm">
                            <label for="rsiLength">Periods:</label>
                            <input type="number" id="rsiLength" value="14" min="1">
                            <label for="upper_level">Upper Level:</label>
                            <input type="number" id="upper_level" value="70" min="50">
                            <label for="lower_level">Lower Level:</label>
                            <input type="number" id="lower_level" value="30" min="1">
                        </form>
                        <div>
                            <p>RSI: <span id="Rsi"></span></p>
                        </div>
                        <div>
                            <p>Signal: <span id="RsiSignal"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

        <!-- Padrões de Candlestick -->
        <section id="candlePatterns">

            <div class="technical-card">
                <div class="technical-header" id="tecCandles">
                    <h2>Candlestick Patterns</h2>
                    <span class="toggle-icon">+</span>
                </div>

                <div class="candles-content hidden">

                    <div class="tec-candles">
                        <button class=executeButtons id="CandleButton">Detect</button>
                        <div id="tableCandlePatterns"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Padrões Harmonicos -->
        <section id="harmonicPatterns">

            <div class="technical-card">
                <div class="technical-header" id="tecHarmonic">
                    <h2>Harmonic Patterns</h2>
                    <span class="toggle-icon">+</span>
                </div>

                <div class="harmonic-content hidden">

                    <div class="tec-harmonic">
                        <button class=executeButtons id="HarmonicButton">Detect</button>
                        <div id="tableHarmonicPatterns"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Análise Fundamental -->
        <section id="fundamentalAnalysis">
            <h2>Fundamental Analysis</h2>

            <!-- KPIs -->
            <div class="fundamental-card">
                <div class="fundamental-header" id="funKPIs">
                    <h2>KPIs</h2>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="kpis-content hidden">
                    <div class="fund-kpis">
                        <div>
                            <h3>Valuations</h3>
                            <p><strong>Trailing P/E:</strong> <span id="trailingPE"></span> <span id="trailingPEClass"></span></p>
                            <p><strong>Forward P/E:</strong> <span id="forwardPE"></span></p>
                            <p><strong>Sector P/E:</strong> <span id="sectorTrailingPE"></span></p>
                            <p><strong>EV/EBITDA:</strong> <span id="evEbitda"></span> <span id="evEbitdaClass"></span></p>
                            <p><strong>Price To Sale (P/S):</strong> <span id="PriceToSale"></span> <span id="PriceToSaleClass"></span></p>
                            <p><strong>Equity FCF Yield:</strong> <span id="EquityFCFYield"></span> <span id="EquityFCFYieldClass"></span></p>
                            <p><strong>Enterprise FCF Yield:</strong> <span id="EnterpriseFCFYield"></span> <span id="EnterpriseFCFYieldClass"></span></p>
                        </div>
                        <div>
                            <h3>Financial Health</h3>
                            <p><strong>Net Debt / EBITDA:</strong> <span id="NetDebtEbitda"></span> <span id="NetDebtEbitdaClass"></span></p>
                            <p><strong>Interest Coverage (EBIT):</strong> <span id="InterestCoverageEbit"></span> <span id="InterestCoverageEbitClass"></span></p>
                            <p><strong>Current Ratio:</strong> <span id="CurrentRatio"></span> <span id="CurrentRatioClass"></span></p>
                            <p><strong>Quick Ratio:</strong> <span id="QuickRatio"></span> <span id="QuickRatioClass"></span></p>
                        </div>
                        <div>
                            <h3>Profitability</h3>
                            <p><strong>Operational Margin:</strong> <span id="OperationalMargin"></span> <span id="OperationalMarginClass"></span></p>
                            <p><strong>FCF Margin:</strong> <span id="FcfMargin"></span> <span id="FcfMarginClass"></span></p>
                            <p><strong>ROE:</strong> <span id="ROE"></span> <span id="ROEClass"></span></p>
                            <p><strong>ROA:</strong> <span id="ROA"></span> <span id="ROAClass"></span></p>
                        </div>
                        <div>
                            <h3>Capital Efficiency</h3>
                            <p><strong>ROIC vs WACC:</strong> <span id="EVA"> </span><span id="EVAClass"></span></p>
                            <p><strong>ROIC:</strong> <span id="ROIC"></span> <span id="ROICClass"></span></p>
                            <p><strong>WACC:</strong> <span id="WACC"></span> <span id="WACCClass"></span></p>
                        </div>
                        <div>
                            <h3>Growth</h3>
                            <p><strong>Growth Reveneu YoY:</strong> <span id="GrowthReveneuYoY"></span> <span id="GrowthReveneuYoYClass"></span></p>
                            <p><strong>CAGR Growth Reveneu YoY:</strong> <span id="CagrGrowthReveneuYoY"></span> <span id="CagrGrowthReveneuYoYClass"></span></p>
                            <p><strong>Growth EPS YoY:</strong> <span id="GrowthEPSYoY"></span> <span id="GrowthEPSYoYClass"></span></p>
                            <p><strong>CAGR Growth EPS YoY:</strong> <span id="CagrGrowthEPSYoY"></span> <span id="CagrGrowthEPSYoYClass"></span></p>
                        </div>
                        <div>
                            <h3>Dividends</h3>
                            <p><strong>Coverage Ratio:</strong> <span id="divCoverageRate"></span> <span id="divCoverageRateClass"></span></p>
                            <p><strong>Avg Dividend Yield(5y):</strong> <span id="fiveYearAvgDividendYield"></span></p>
                            <p><strong>Dividend Yield:</strong> <span id="dividendYield"></span></p>
                            <p><strong>CAGR Growth Dividend (3y):</strong> <span id="CagrGrowthDividend3y"> <span id="CagrGrowthDividend3yClass"></span></p>
                            <p><strong>CAGR Growth Dividend (5y):</strong> <span id="CagrGrowthDividend5y"> <span id="CagrGrowthDividend5yClass"></span></p>
                            <p><strong>Payout Ratio:</strong> <span id="PayoutRatio"> <span id="PayoutRatioClass"></span></p>
                            <p><strong>Shareholder Yield:</strong> <span id="ShareHolderYield"> <span id="ShareHolderYieldClass"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Valuation -->
            <div class="fundamental-card">
                <div class="fundamental-header" id="funValuation">
                    <h2>Valuation</h2>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="valuation-content hidden">
                    <div class="fund-valuation">
                        <div>
                            <h3>Price : Earnings</h3>
                            <div class="chart-container-earnings">
                                <canvas id="earningsChart"></canvas>
                            </div>
                        </div>
                        <div>
                            <h3>Detailed</h3>
                            <p><strong>EV (Enterprise Value):</strong> <span id="EVenterpriseValue"></span></p>
                            <p><strong>Market Cap:</strong> <span id="MarketCap"></span></p>
                            <p><strong>EBITDA TTM:</strong> <span id="ebitdaTTM"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Financial Health -->
            <div class="fundamental-card">
                <div class="fundamental-header" id="funHealth">
                    <h2>Financial Health</h2>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="health-content hidden">
                    <div class="fund-health">
                        <div class="chart-container-financial">
                            <canvas id="financialHealthScatter"></canvas>
                        </div>
                        <div class="chart-container-financial">
                            <canvas id="liquidityHeatmap"></canvas>
                        </div>
                        <div>
                            <span id="net_debt_ebitda_generico"></span>
                            <span id="net_debt_generico"></span>
                            <span id="ebitda_generico"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dividends -->
            <div class="fundamental-card">
                <div class="fundamental-header" id="funDividends">
                    <h2>Dividends & Buybacks</h2>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="dividends-content hidden">
                    <div>
                        <h3>Distribution</h3>
                    </div>
                    <div class="fund-dividends">  
                    </div>
                </div>
            </div>

            <!-- Profitability-->
            <div class="fundamental-card">

                <div class="fundamental-header" id="funProfitability">
                    <h2>Profitability</h2>
                    <span class="toggle-icon">+</span>
                </div>

                <div class="profitability-content hidden">
                    <div >
                        <h3>Efficiency, Profitability and Value Generation (5y)</h3>
                    </div>
                    <div class="fund-profitability">
                        <div>
                            <p><strong>Net Income:</strong> <span id="NetIncome"></span></p>
                            <p><strong>Total Revenue:</strong> <span id="TotalRevenue"></span></p>
                        </div>
                    </div>
                </div>
            </div>
                  
            <!-- Cashflow-->
            <div class="fundamental-card">

                <div class="fundamental-header" id="funCashflow">
                    <h2>Cashflow</h2>
                    <span class="toggle-icon">+</span>
                </div>
                
                <div class="cashflow-content hidden">
                    
                    <div class="fund-cashflow">
                        <div>
                            <h3>Cash Balance</h3>
                            <p><strong>Free Cashflow:</strong> <span id="FreeCashflow"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ratios-->
            <div class="fundamental-card">

                <div class="fundamental-header" id="funRatios">
                    <h2>Financial Ratios & Margins </h2>
                    <span class="toggle-icon">+</span>
                </div>
                
                <div class="ratios-content hidden">
                    
                    <div class="fund-ratios">
                       <div>
                            <h3>Margins</h3>
                            <p><strong>Gross Margin Classification:</strong> <span id="GrossMarginClass"></span></p>
                            <p><strong>Gross Margin:</strong> <span id="GrossMargin"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Risk-->
            <div class="fundamental-card">
                <div class="fundamental-header" id="funRisk">
                    <h2>Risk & Market Sentiment</h2>
                    <span class="toggle-icon">+</span>
                </div>

                <div class="risk-content hidden">
                    <div>
                        <h3>Stability</h3>
                    </div>
                    <div class="fund-risk">
                        <p><strong>Beta:</strong> <span id="beta"></span></p>
                        <p><strong>Short Interest:</strong> <span id="sharesPercentSharesOut"></span></p>
                        <p><strong>Recommendaton Mean:</strong> <span id="recommendationMean"></span></p>
                        <p><strong>Target Mean Price:</strong> <span id="targetMeanPrice"></span></p>
                    </div>
                </div>
            </div>
            
            <!-- Overview Decision -->
            <div class="fundamental-card">

                <div class="fundamental-header" id="funOverview">
                    <h2>Overview Decision Resume</h2>
                    <span class="toggle-icon">+</span>
                </div>

                <div class="overview-content hidden">
                    <div class="fund-overview" >
                        <div>
                            <h3>Valuation</h3>
                            <p><strong>P/E Classification:</strong> <span id="trailingPEClassOverview"></span></p>
                            <p><strong>PEG Classification:</strong> <span id="PEGRatioClassOverview"></span></p>
                            <h3>Dividends</h3>
                            <p><strong>Coverage Ratio Classification:</strong> <span id="divCoverageRateClassOverview"></span></p>
                            <h3>Profitability</h3>
                            <p><strong>Cost Of Revenue CAGR Classification:</strong> <span id="CostOfRevenueCAGRClassOverview"></span></p>
                            <p><strong>Total Of Revenue CAGR Classification:</strong> <span id="TotalRevenueCAGRClassOverview"></span></p>
                            <h3>Debt</h3>
                            <p><strong>Net Worth Classification:</strong> <span id="NetWorthClassOverview"></span></p>
                            <p><strong>Short Debt Coverage Classification:</strong> <span id="ShortTermDebtCoverageClassOverview"></span></p>
                            <p><strong>Long Debt Coverage Classification:</strong> <span id="LongTermDebtCoverageClassOverview"></span></p>
                            <h3>Stockholders Equity</h3>
                            <p><strong>Stockholders Equity CAGR Classification:</strong> <span id="StockholdersEquityCAGRClassOverview"></span></p>
                            <h3>Growth</h3>
                            <p><strong>Assets Growth CAGR Classification:</strong> <span id="TotalAssetsCAGRClassOverview"></span></p>
                            <p><strong>Liabilities Growth CAGR Classification:</strong> <span id="TotalLiabilitiesCAGRClassOverview"></span></p>
                            <h3>Cashflow</h3>
                            <p><strong>Free Cashflow Yield Classification:</strong> <span id="FreeCashflowYieldClassOverview"></span></p>
                            <h3>Financials</h3>
                            <p><strong>Current Ratio Classification:</strong> <span id="CurrentRatioClassOverview"></span></p>
                            <p><strong>Cash Ratio Classification:</strong> <span id="CashRatioClassOverview"></span></p>
                            <h3>Margins</h3>
                            <p><strong>Gross Margin Classification:</strong> <span id="GrossMarginClassOverview"></span></p>
                            <p><strong>Operating Margin Classification:</strong> <span id="OperatingMarginClassOverview"></span></p>
                            <p><strong>Operating Margin CAGR Classification:</strong> <span id="OperatingMarginCAGRClassOverview"></span></p>
                            <p><strong>Profit Margin Classification:</strong> <span id="ProfitMarginClassOverview"></span></p>
                            <p><strong>Profit Margin CAGR Classification:</strong> <span id="ProfitMarginCAGRClassOverview"></span></p>
                            <p><strong>Return on Equity (ROE) Classification:</strong> <span id="ReturnOnEquityClassOverview"></span></p>
                            <p><strong>Return on Equity (ROE) CAGR Classification:</strong> <span id="ReturnOnEquityCAGRClassOverview"></span></p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
       
        <!-- Holders -->
        <section id="h-bar-chart-container-holders">
            <h2>Holders</h2>
            <canvas class="h-bar-chart" id="hBarChart"></canvas>         
        </section>

        <!-- Insider Transactions -->
        <section id="insiderTransactions">

            <div class="technical-card">
                <div class="technical-header" id="tecInsiders">
                    <h2>Insider Transactions</h2>
                    <span class="toggle-icon">+</span>
                </div>

                <div class="insiders-content hidden">

                    <div class="tec-insiders">
                        <div id="tableInsideTransactions"></div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- Download -->
        <section id="fundamentalAnalysis">
            <h2>Support Documents</h2>

            <!-- Downloads  -->
            <div class="fundamental-card">
                <div class="fundamental-header" id="funDownload">
                    <h2>Downloads</h2>
                    <span class="toggle-icon">+</span>
                </div>

                <div class="download-content hidden">
                    <div class="fund-download">
                        <div>
                            <h3>Cashflow</h3>
                            <p><strong>Document</strong></p>
                                <a id="dl-cf-annual"  class="btn-download" title="Cashflow (Anualy)">
                                    <img src="{% static 'images/excel-file.png' %}" alt="">
                                    <span class="label">Cashflow (Anualy)</span>
                                    <span class="spinner hidden"></span>
                                </a>
                                <a id="dl-cf-quarter" class="btn-download" title="Cashflow (Quarterly)">
                                    <img src="{% static 'images/excel-file.png' %}" alt="">
                                    <span class="label">Cashflow (Quarterly)</span>
                                    <span class="spinner hidden"></span>
                                </a>
                        </div>
                        <div>
                            <h3>Balance Sheet</h3>
                            <p><strong>Document</strong></p>
                                <a id="dl-bs-annual"  class="btn-download" title="Balance Sheet (Anualy)">
                                    <img src="{% static 'images/excel-file.png' %}" alt="">
                                    <span class="label">Balance Sheet (Anualy)</span>
                                    <span class="spinner hidden"></span>
                                </a>
                                <a id="dl-bs-quarter" class="btn-download" title="Balance Sheet (Quarterly)">
                                    <img src="{% static 'images/excel-file.png' %}" alt="">
                                    <span class="label">Balance Sheet (Quarterly)</span>
                                    <span class="spinner hidden"></span>
                                </a>
                        </div>
                        <div>
                            <h3>Income Statement</h3>
                            <p><strong>Document</strong></p>
                                <a id="dl-income-annual"  class="btn-download" title="Income (Anualy)">
                                    <img src="{% static 'images/excel-file.png' %}" alt="">
                                    <span class="label">Income (Anualy)</span>
                                    <span class="spinner hidden"></span>
                                </a>
                                <a id="dl-income-quarter" class="btn-download" title="Income (Quarterly)">
                                    <img src="{% static 'images/excel-file.png' %}" alt="">
                                    <span class="label">Income (Quarterly)</span>
                                    <span class="spinner hidden"></span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="card">
            <h2>Latest News</h2>
            <div id="symbolNews"></div>
        </section>
{% endblock %}

{% block extra_js %}
    <!-- Candlestick.js -->
    <script src="{% static 'js/plugins/lightweight-charts.standalone.production.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'js/plugins/chart.js' %}"></script>
    <script src="{% static 'js/plugins/chartjs-plugin-datalabels.js' %}"></script>
    <script src="{% static 'js/custom_charts/theme.js' %}"></script>
    <script type="module" src="{% static 'js/custom_charts/chartsandgraphs.js' %}"></script>
    <script type="module" src="{% static 'js/custom_charts/financialhealthcharts.js' %}"></script>
    <!-- Glossarios.js -->
    <script src="{% static 'js/results_text/genericos.js' %}"></script>
{% endblock %}

