{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Data</title>
    <link rel="stylesheet" href="{% static 'css/stock.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>
    <div class="main-header">
        <div class="header">
            <img class="header-logo-icon" alt="Logo" src="{% static 'images/logo.png' %}">
            <div class="search-container">
                <input type="text" id="stockSymbol" placeholder="Enter stock symbol (e.g., AAPL)">
                <button id="searchButton">Search</button>
                <p class="search-indication">Enter a stock symbol and press "Search" to fetch data.</p>
            </div>
            <div class="headermenu">
                <div class="reach-us">Reach Us</div>
            </div>
        </div>
    </div>
    <hr class="line1">

    <div class="stock-info">

        <h2>Histórico de Preços</h2>
        <div class="candlestick-chart" id="candlestickChart"></div>

        <!-- Biblioteca Plotly -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{% static 'js/candlestick.js' %}"></script> <!-- 🔥 Script para buscar e renderizar o gráfico -->

        <div id="technicalStockZone">
            <h2>Technical Analysis</h2>
            <div class="table-container" id="technicalAnalysisTableContainer"></div>
        </div>
        
        <h2>Trend</h2>
        <h3>Exponential Average Crossover (Direction)</h3>
        <div id="crossoverForm">
            <label for="fastPeriod">Short EMA:</label>
            <input type="number" id="fastPeriod" value="5" min="1">
        
            <label for="mediumPeriod">Medium EMA:</label>
            <input type="number" id="mediumPeriod" value="10" min="1">
        
            <label for="slowPeriod">Long EMA:</label>
            <input type="number" id="slowPeriod" value="20" min="1">
        
            <button id="crossoverButton">Calculate</button>
        </div>
        <div id="crossoverResults"></div>

        <h3>ADX (Strengh)</h3>
        <div id="AdxForm">
            <label for="length">Periods:</label>
            <input type="number" id="length" value="5" min="1">
        
            <button id="AdxButton">Calculate</button>
        </div>
        <div id="AdxResults"></div>
        
        <h2>Volatility</h2>
        <h3>Bollinger Bands</h3>
        <div id="BollingerForm">
            <label for="length">Periods:</label>
            <input type="number" id="length" value="10" min="1">
            <label for="std_bol">Standard Deviation:</label>
            <input type="number" id="std_bol" value="2" min="1">
        
            <button id="BollingerButton">Calculate</button>
        </div>
        <div id="BollingerResults"></div>

        <h2>Oscilators</h2>
        <h3>Relative Strengh Index</h3>
        <div id="RSIForm">
            <label for="length">Periods:</label>
            <input type="number" id="length" value="10" min="1">
            <label for="upper_level">Upper Level:</label>
            <input type="number" id="upper_level" value="70" min="50">
            <label for="lower_level">Lower Level:</label>
            <input type="number" id="lower_level" value="30" min="1">

            <button id="RSIButton">Calculate</button>
        </div>
        <div id="RSIResults"></div>

        <!-- Input para buscar novas ações -->
        <div class="fundamentalStocksZone">
            <h2>Fundamental Analysis</h2>
        </div>

        <div id="HolderZone">
            <h2>Holders</h2>
            <div class="table-container" id="holdersTableContainer"></div>
        </div>

        <div id="EstimatedPricesZone">
            <h2>Estimated Prices</h2>
            <div class="table-container" id="estimatedPricesTableContainer"></div>
        </div>

    </div>
    
    <a href="/">Back to home page</a>

    <!-- 🔥 Importando o script externo -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
