/* ============================= */
/* CONFIGURAÇÃO GLOBAL E VARIÁVEIS */
/* ============================= */
:root {
    --text-color: #ddd;
    --border-color: #3d444d;
}

.calendar-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* ============================= */
/* TÍTULOS */
/* ============================= */
.calendar-info h2 {
    color: var(--text-color);
    text-align: center;
    width: 100%;
    margin: 20px auto;
}
