/* Garante que o HTML e Body ocupem 100% da tela */
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #111111;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* HOME PAGE */
.logo-icon-home {
    width: 80px;
    height: 96px;
    object-fit: cover;
    zoom: 2;
}

.main-home {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-top: 150px;
}

/* Menu do topo */
.menu-market-types {
    display: flex;
    gap: 20px;
}

.market-types {
    font-weight: 800;
    cursor: pointer;
    color: white;
}

/* Efeito ao passar o mouse */
.market-types:hover, .market-types:active {
    background-color: white;
    color: black;
    border-radius: 16px;
}

.search-container {
    margin: 0px;
    text-align: center;
    padding-top: 40px; 
}

.search-container input {
    padding: 8px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-container button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #6b6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #444;
}

.search-container p {
    color: #ffffff;
    font-size: 12px;
    font-style: italic;
    padding-bottom: 5px;
}

.footer {
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
}

.footer p {
    color: #9A8655;
    font-size: 12px;
    font-style: italic;
    padding-bottom: 5px;
}

.reach-us {
    font-weight: 800;
    cursor: pointer;
    color: #9A8655;
}


/* STOCK PAGE */
.logo-icon-stock {
    width: 80px;
    height: 96px;
    object-fit: cover;
    zoom: 1;
}

.line1 {
    width: 100%;  /* Largura total */
    height: 1px;  /* Altura da linha */
    background-color: #ccc;  /* Cor da linha */
    border: none;  /* Remove bordas */
    margin: 40px 0; /* Espaçamento acima e abaixo */
}


/* Layout principal */
.main-stock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

/* Cabeçalho */
.header-stock {
    width: 100%;
    background-color: #111111;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
}

.stock-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.stock-info h2 {
    color: #ffffff;
}

/* Estilo da Tabela */
.table-container-stock {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.table-container-stock h2 {
    color: #ffffff;
}


.table-container-stock table {
    width: 100%;
    border-collapse: collapse;
}

.table-container-stock th, .table-container-stock td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table-container-stock th {
    background-color: #969696;
    color: white;
}
