/* ============================= */
/* HEADER */
/* ============================= */


.logo-icon-homepage {
    width: 80px;
    height: 96px;
    object-fit: cover;
    zoom: 2.5;
}

/* ============================= */
/* SEÇÃO PRINCIPAL */
/* ============================= */
.main-home {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 100px 0;
}

/* ============================= */
/* BOTÕES DE OPÇÃO */
/* ============================= */
.button-zone {
    margin-bottom: 10px;
}

.button-zone button {
    padding: 6px 20px;
    font-size: 12px;
    background-color: var(--button-zone-bg-index);
    border: 1px solid var(--button-zone-border-color-index);
    color: var(--button-zone-highlight-color-index);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button-zone button:hover {
    background-color: var(--button-zone-hover-bg-index);   
}

/* ============================= */
/* RESPONSIVIDADE */
/* ============================= */
@media screen and (max-width: 768px) {
    .main-home {
        padding-top: 100px;
        gap: 5px;
    }

    .search-container input {
        max-width: 80%; /* Ajusta para telas menores */
        font-size: 14px;
    }

    .search-container button {
        font-size: 14px;
        padding: 0px 0px;
    }
}