/* ============================= */
/* CONFIGURAÇÃO GLOBAL E VARIÁVEIS */
/* ============================= */
:root {
    --stock-info-titles: #ffffff;
    --stock-info-border-color: #3d444d;
    --stock-info-button-bg: #010409;
    --stock-info-input-bg: #0d1117;
    --stock-info-input-text-color: #ddd;
    --stock-info-button-hover-bg:#212830;
    --section-bg: transparent;
    --section-padding: 20px;
    --article-bg: transparent;
    --article-padding: 15px;
}

/* ============================= */
/* STOCK INFO - SEÇÃO PRINCIPAL */
/* ============================= */
.stock-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: var(--section-padding);
}

/* ============================= */
/* SEÇÕES & ARTIGOS */
/* ============================= */
.stock-info section {
    background-color: var(--section-bg);
    width: 90%;
    max-width: 1200px;
    padding: var(--section-padding);
    border-radius: 10px;
    flex-direction: row;
}

.stock-info article {
    background-color: var(--article-bg);
    padding: var(--article-padding);
    border-radius: 8px;
}

/* ============================= */
/* TÍTULOS */
/* ============================= */
.stock-info h2,
.stock-info h3,
.stock-info label {
        color: var(--stock-info-titles);
        text-align: center;
}


/* ============================= */
/* INPUTS E BOTÕES */
/* ============================= */
.stock-info input {
    padding: 8px;
    font-size: 14px;
    width: 50px;
    height: 10px;
    border: 1px solid var(--stock-info-border-color);
    border-radius: 5px;
    background-color: var(--stock-info-input-bg);
    color: var(--stock-info-input-text-color);
}

.stock-info button {    
    font-size: 14px;
    width: 150px;
    height: 28px;
    border: 1px solid var(--stock-info-border-color);
    background-color: var(--stock-info-button-bg);
    color: #9198a1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.stock-info button:hover {
    background-color: var(--stock-info-button-hover-bg);
}


/* ============================= */
/* RESPONSIVIDADE */
/* ============================= */
@media screen and (max-width: 768px) {
    .stock-info input {
        width: 50px;
        font-size: 12px;
    }

    .stock-info button {
        width: 130px;
        height: 30px;
        font-size: 12px;
    }
}