
.hidden {
    display: none !important;
}

canvas {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

/* ============================= */
/* CARD BIO */
/* ============================= */
.bio-card {
    border: 1px solid var(--stock-info-border-color); 
    border-radius: 10px;
    width: 100%;
    max-width: 100%; 
    margin-top: 15px; 
    overflow: hidden; 
}

.bio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding: 15px 15px;
    cursor: pointer;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: background-color 0.3s ease;
}

.bio-header:hover {
    background-color: var(--button-hover-bg);
}

.bio-header.active {
    background-color: var(--button-hover-bg);
}

.bio-header h2 {
    color: var(--link-color);
    font-size: 18px;
    margin: 0;
}

.toggle-icon {
    color: var(--stock-info-titles);
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.bio-content {
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.bio-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color); 
}

.bio-content a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

.bio-content a:hover {
    color: var(--button-hover-bg);
    text-decoration: underline;
}

.bio-grid, .bio-sector, .bio-description, .bio-links, .bio-financial {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    margin-top: 15px;
}

/* ============================= */
/* STOCK INFO - SEÇÃO PRINCIPAL */
/* ============================= */
.stock-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* gap: 10px; */
    padding: var(--section-padding);
}

/* ============================= */
/* SEÇÕES & ARTIGOS */
/* ============================= */
.stock-info section {
    background-color: var(--section-bg);
    width: 100%;
    max-width: 90%;
    border-radius: 10px;
    flex-direction: row;
}


/* ============================= */
/* TÍTULOS */
/* ============================= */
.stock-info h2,
.stock-info h3,
.stock-info label {
        color: var(--stock-info-titles);
        text-align: center;
}

/* ============================= */
/* INPUTS E BOTÕES */
/* ============================= */
.stock-info input {
    padding: 8px;
    font-size: 14px;
    width: 50px;
    height: 10px;
    border: 1px solid var(--stock-info-border-color);
    border-radius: 5px;
    background-color: var(--stock-info-input-bg);
    color: var(--stock-info-input-text-color);
}

.stock-info button {    
    font-size: 14px;
    width: 150px;
    height: 28px;
    border: 1px solid var(--stock-info-border-color);
    background-color: var(--secondary-bg);
    color: #9198a1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.stock-info button:hover {
    background-color: var(--stock-info-button-hover-bg);
}


/* ============================= */
/* TECHNICAL CARDS */
/* ============================= */
.technical-card {
    border: 1px solid var(--stock-info-border-color); 
    border-radius: 10px;
    width: 100%;
    max-width: 100%; 
    margin-top: 15px; 
    overflow: hidden;
    align-items: center; 
}

.technical-card form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.technical-card button {
    align-items: center;
    gap: 10px;
}

.technical-card label {
    color: var(--stock-info-titles);
    text-align: left;
    max-width: 100%;
    white-space: nowrap; 
}

.technical-card h3 {
    color: var(--stock-info-titles);
}

.technical-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding: 15px 15px;
    cursor: pointer;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: background-color 0.3s ease;
}

.technical-header:hover {
    background-color: var(--button-hover-bg);
}

.technical-header.active {
    background-color: var(--button-hover-bg);
}

.technical-header h2 {
    color: var(--link-color);
    font-size: 18px;
    margin: 0;
}

.insiders-content, .trend-content, .volatility-content, .oscilators-content, .candles-content, .harmonic-content {
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    gap: 15px;       
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.insiders-content p, .trend-content p, .volatility-content p, .oscilators-content p, .candles-content p, .harmonic-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color);
    text-align: right;
}

.insiders-content a, .trend-content a, .volatility-content a, .oscilators-content a, .candles-content a, .harmonic-content a {
    color: var(--link-color);
    font-weight: bold;
}

.insiders-content a:hover, .trend-content a:hover, .volatility-content a:hover, .oscilators-content a:hover, .candles-content a:hover, .harmonic-content a:hover {
    color: var(--button-hover-bg);
}

.tec-insiders, .tec-trend-crossover, .tec-trend-adx, .tec-volatility, .tec-oscilators, .tec-candles, .tec-harmonic {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}


/* ============================= */
/* FUNDAMENTAL CARDS */
/* ============================= */
.fundamental-card {
    border: 1px solid var(--stock-info-border-color); 
    border-radius: 10px;
    width: 100%;
    max-width: 100%; 
    margin-top: 15px; 
    overflow: hidden; 
}

.fundamental-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding: 15px 15px;
    cursor: pointer;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: background-color 0.3s ease;
}

.fundamental-header:hover {
    background-color: var(--button-hover-bg);
}

.fundamental-header.active {
    background-color: var(--button-hover-bg);
}

.fundamental-header h2 {
    color: var(--link-color);
    font-size: 18px;
    margin: 0;
}

/* CASHFLOW */

.cashflow-content {
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.cashflow-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color); 
}

.cashflow-content a {
    color: var(--link-color);
    font-weight: bold;
}

.cashflow-content a:hover {
    color: var(--button-hover-bg);
}

/* PROFITABILITY */

.profitability-content {
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.profitability-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color); 
}

.profitability-content a {
    color: var(--link-color);
    font-weight: bold;
}

.profitability-content a:hover {
    color: var(--button-hover-bg);
}

/* HEALTH */

.health-content {
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.health-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color); 
}

.health-content a {
    color: var(--link-color);
    font-weight: bold;
}

.health-content a:hover {
    color: var(--button-hover-bg);
}

/* KPIS */

.kpis-content {
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.kpis-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color); 
}

.kpis-content a {
    color: var(--link-color);
    font-weight: bold;
}

.kpis-content a:hover {
    color: var(--button-hover-bg);
}

/* VALUATION */

.valuation-content {
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.valuation-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color); 
}

.valuation-content a {
    color: var(--link-color);
    font-weight: bold;
}

.valuation-content a:hover {
    color: var(--button-hover-bg);
}


/* DIVIDENDS */

.dividends-content {
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.dividends-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color); 
}

.dividends-content a {
    color: var(--link-color);
    font-weight: bold;
}

.dividends-content a:hover {
    color: var(--button-hover-bg);
}

/* RATIOS */

.ratios-content {
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.ratios-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color); 
}

.ratios-content a {
    color: var(--link-color);
    font-weight: bold;
}

.ratios-content a:hover {
    color: var(--button-hover-bg);
}

/* RISK */

.risk-content {
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.risk-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color); 
}

.risk-content a {
    color: var(--link-color);
    font-weight: bold;
}

.risk-content a:hover {
    color: var(--button-hover-bg);
}

/* OVERVIEW */

.overview-content {
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.overview-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color); 
}

.overview-content a {
    color: var(--link-color);
    font-weight: bold;
}

.overview-content a:hover {
    color: var(--button-hover-bg);
}

/* DOWNLOAS */

.download-content {
    padding: 15px 20px;
    color: var(--stock-info-input-text-color);
    line-height: 1.5;
}

.download-content p {
    margin: 6px 0;
    padding: 8px 12px;
    background-color: var(--secondary-bg);
    border-radius: 6px;
    border-left: 4px solid var(--stock-info-border-color); 
}

.download-content a {
    color: var(--link-color);
    font-weight: bold;
}

.download-content a:hover {
    color: var(--button-hover-bg);
}

.fund-cashflow, .fund-profitability, .fund-health, .fund-valuation, .fund-dividends, .fund-ratios, .fund-risk, .fund-download {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    margin-top: 15px;
}

.fund-overview {
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    margin-top: 15px;
}

.btn-download {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.btn-download img {
  max-width: 20px;
  height: auto;
}

.btn-download .spinner {
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.hidden {
  display: none !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ====== BADGES (cores por bucket) ====== */
.badge--verygood { background:#e9f9f0; color:#26a69a; border:1px solid #26a69a; border-radius:6px; padding:2px 6px; }
.badge--good     { background:#f0fbf3; color:#27847a; border:1px solid #27847a; border-radius:6px; padding:2px 6px; }
.badge--neutral  { background:#f4f4f5; color:#555;   border:1px solid #bdbdbd; border-radius:6px; padding:2px 6px; }
.badge--bad      { background:#fff4e5; color:#7d1615; border:1px solid #7d1615; border-radius:6px; padding:2px 6px; }
.badge--verybad  { background:#fdecea; color:#ef5350; border:1px solid #ef5350; border-radius:6px; padding:2px 6px; }
.badge--nodata   { background:#f5f5f5; color:#9E9E9E; border:1px solid #e0e0e0; border-radius:6px; padding:2px 6px; }

/* ====== “MODAL”/CARD (cores por bucket) ====== */
.modal--verygood { --accent:#26a69a }
.modal--good     { --accent:#27847a }
.modal--neutral  { --accent:#555 }
.modal--bad      { --accent:#7d1615 }
.modal--verybad  { --accent:#ef5350 }
.modal--nodata   { --accent:#9E9E9E }


/* ============================= */
/* RESPONSIVIDADE */
/* ============================= */
@media screen and (max-width: 768px) {
    .stock-info input {
        width: 50px;
        font-size: 12px;
    }

    .stock-info button {
        width: 130px;
        height: 30px;
        font-size: 12px;
    }

    .trend-content, .volatility-content, .oscilators-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .trend-content form,
    .volatility-content form,
    .oscilators-content form {
        width: 100%;
    }
}